---
import Title from "@/components/Title.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import AuthorCard from "@/components/AuthorCard.astro";
import { getCollection } from "astro:content";

const authors = await getCollection("author");
---

<MainLayout title="Listado de autores">
  <section class="mt-5">
    <Title>Listado de autores</Title>
    <hr />

    <section class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
      {authors.map((author) => <AuthorCard author={author} />)}
    </section>
  </section>
</MainLayout>
