---
import { SITE_CONFIG } from "@/lib/config/site-config";
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import BlogPost from "@/components/BlogPost.astro";
import Title from "@/components/Title.astro";

const blogPosts = await getCollection(
  "blog",
  (post) => post.data.isDraft !== false
);
// const posts = await Astro.glob("./posts-old/*.{md,mdx}");
---

<MainLayout title="Homepage">
  <!-- component -->
  <section class="bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <Title>
        {SITE_CONFIG.title}
      </Title>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {blogPosts.map((post) => <BlogPost post={post} />)}
      </div>
    </div>
  </section>
</MainLayout>
